@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* styles  */

.flexStart {
  @apply flex items-center justify-start;
}
.flexCenter {
  @apply flex items-center justify-center;
}
.flexBetween {
  @apply flex items-center justify-between;
}
.maxContainer {
  @apply mx-auto max-w-[1600px];
}
.paddingX {
  @apply px-3 md:px-14;
}

.paddingY {
  @apply py-6 md:py-5;
}
/* buttons */
.btn {
  @apply flex items-center text-[10px] tracking-[0.2rem] cursor-pointer px-20  py-4 rounded-none justify-center mt-5 bg-black-100 text-white-100;
}
.para1 {
  @apply flex flex-wrap w-full items-center justify-center max-w-3xl text-sm leading-7 tracking-wider md:text-[16px] md:tracking-widest text-grey-light text-center;
}
.heading {
  @apply flex text-[24px]  md:text-[40px] md:font-[500] text-center tracking-wider;
}
/* fonts */
.regular-24 {
  @apply text-[24px] font-[400];
}
.regular-20 {
  @apply text-[20px] font-[400];
}
.regular-40 {
  @apply text-[40px] font-[400];
}
.regular-18 {
  @apply text-[18px] font-[400];
}
.regular-17 {
  @apply text-[17px] font-[400];
}
.regular-14 {
  @apply text-[14px] font-[400];
}
.regular-15 {
  @apply text-[15px] font-[400]  tracking-[0.1rem];
}
.regular-12 {
  @apply text-[12px] font-[100];
}
.regular-11 {
  @apply text-[11px] font-[400];
}
.regular-10 {
  @apply text-[10px] font-[400];
}
/* custom.css */

.newarrival {
  @apply flex flex-wrap gap-3 justify-center items-center;
}
.brightness-filter {
  filter: brightness(0.8);
  transition: filter 1s ease;
}
.brightness-filter:hover {
  filter: brightness(1);
}
